@media (max-width: 767px) {
  .col-4 {
    display: none;
  }
  .col-8 {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .col-sm-9 .row {
    margin-top: 0.5rem;
  }
}

.nav-link {
  font-size: 1.2rem;
}

.row {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.title {
  margin-bottom: 1.8rem !important;
}

.lead {
  font-family: CustomSerif, Georgia, Cambria, 'Times New Roman', serif;
  text-align: justify;
}

.news-title {
  text-align: center;
}

.card-body {
  min-height: 8rem;
}

.list-group-item {
  border: none;
}

.card,
.btn {
  border-radius: 0.6rem;
}

.fullText {
  border: none;
}

.btn {
  margin-top: 0.6rem;
}

.footer-text,
.footer-icons {
  display: inline;
}

.listRow {
  padding-bottom: 1.2rem;
}

time {
  color: #666;
}
