.row {
  margin-top: 1.5rem;
}

.title{
  margin-bottom: 1.8rem !important;
}

.news-title {
  text-align: center;
}

.card-body {
  min-height: 8rem;
}

.list-group-item {
  border: none;
}

.lead {
  font-family: CustomSerif, Georgia, Cambria, 'Times New Roman', serif;
}

.btn {
  margin-top: 0.6rem;
}